@font-face {
	font-family: "Helvetica-bold";
	src: url("../font/HelveticaNowDisplay-Bold.woff2");
}

@font-face {
	font-family: "Helvetica-reg";
	src: url(../font/HelveticaNowDisplay-Regular.woff2);
}

*, *::after, *::before {
  box-sizing: border-box;
}

:root {
	--accent-color: #000d10;
	--accent-color-2: #ffffff;
	--dark-blue: #151623;
	--darker-blue: #0f0f1c;
	--brick-red: #bc7155;
	--text-secondary: #8e8e95;
	--background-about: #8aadb2;
	--btn-hover: #393939;
	--sky-blue: rgb(131 157 187);
}

.visually_hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
  
.visible {
	opacity: 1;
	transform: translateY(0);
}
  
.skip-to-content-link {
	left: 50%;
	position: absolute;
	transform: translateY(-100%);
}

.skip-to-content-link:focus {
	transform: translateY(0%);
}

body {
	font-family: "Helvetica-reg", arial;
	padding: 0;
	margin: 0;
}

#abt {
	background-color: var(--background-about);
}

ul > li {
	list-style: none;
}

nav > ul:nth-child(1) {
	display: none;
}

#home section, 
header {
	padding: 1.7rem 4.2%;
}

#abt section {
	margin: 1.7rem 4.2%;
}

#abt section:nth-last-child(1) {
	margin: 0;
}

section {
	opacity: 0;
	transform: translateY(10vh);
	transition: opacity 0.6s ease, transform 0.6s ease;
}

h1, h2, h3 {
	font-family: "Helvetica-bold", arial;
	line-height: 100%;
	letter-spacing: -.02em;
}

h1 {
	font-size: 2.5rem;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 22px;
}

h3 > span {
	font-family: "Helvetica-reg";
}

p {
	font-size: 18px;
}

img {
	width: 100%;
	height: auto;
}

button {
	font-weight: 700;
	font-size: 14px;
	background-color: var(--accent-color);
	color: var(--accent-color-2);
	border: none;
	border-radius: 25px;
	padding: 12px 15px;
	cursor: pointer;
	transition-duration: 0.4s;
}

button:hover {
	background-color: var(--btn-hover);
}

.closeIcon {
	display: none;
}

.hamburger {
	top: 1rem;
	right: 1rem;
	padding: 4px;
}

header > ul {
	z-index: 100;
}

.menu {
	position: fixed;
	transform: translateX(100%);
	transition: transform 0.2s;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 99;
	background: var(--accent-color-2);
	color: var(--accent-color);
	list-style: none;
	padding-top: 4rem;
}

.showMenu {
	transform: translateX(0);
	padding: 10px;
}

.menu-btn {
	display: flex;
	margin-bottom: 8px;
	background-color: var(--accent-color);
	border-radius: 30px;
	width: 50px;
	height: 50px;
}

.menu-btn:hover {
	cursor: pointer;
}

#abt .quote {
	position: relative;
	align-items: flex-start;
	width: 250px;
	height: auto;
	outline: none;
}

blockquote {
	margin: 0;
}

blockquote::before {
    content: "";
    position: absolute;
    background-image: url(../images/quote.svg);
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: .15;
    width: 4rem;
    height: 4rem;
	top: -20px;
	left: -20px;
}

#hero-plane {
	margin: 3em 0 3em 0;
	margin-left: 0;
	animation: movingplane linear;
	animation-timeline: view();
}

@keyframes movingplane {
	0% {
		transform: translate(-200vw, 0vw);
		scale: 1%;
	}
	100% {
		transform: translate(100vw, 0vw);
		scale: 200%;
	}
}

section:nth-child(7) > h2 {
	display: flex;
	justify-content: center;
}

#logo-big {
	display: none;
}

#logo-small {
	display: inline;
	width: 55px;
	height: auto;
}

.display-on-desktop {
	display: none;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

#home header {
	background: linear-gradient(var(--sky-blue), var(--accent-color-2));
}

ul {
	padding: 0;
	margin: 0;
}

header > ul > li > img {
	width: 16px;
	height: auto;
	margin: 0 auto;
}

a {
	color: var(--accent-color);
	text-decoration: none;
}

strong {
	font-family: "Helvetica-bold";
}

#abt section {
	border-top: 1px solid var(--accent-color);
}

#abt section:nth-child(1) > img:nth-of-type(1) {
	width: 21px;
	height: auto;
}

section:nth-child(2) > ul {
	padding: 0;
}

section:nth-child(2) > ul > li > p {
	line-height: 110%;
	color: var(--text-secondary);
	margin-bottom: 30px;
}

section:nth-child(2) > ul > li > h3 {
	padding-top: 15px;
	border-top: 1px solid var(--text-secondary);
}

.rounded-corner {
	border-bottom-right-radius: 100px;
}

div > section {
	color: var(--accent-color-2);
	height: 250px;
}

#home div > section:nth-child(1) {
	background-color: var(--dark-blue);
}

div > section:nth-child(-n + 3)
{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

div > section:nth-child(2) > h2 {
	z-index: 2;
	width: 100%;
	font-size: 30px;
}

div > section:nth-child(2) > p {
	z-index: 2;
	color: var(--accent-color-2);
}

div > section:nth-child(2) {
    background-image: url("../images/aircraft.avif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

div > section:nth-child(2)::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    bottom: 0;
    left: 0;
    background: linear-gradient(to bottom, rgba(255,0,0,0) 0%, rgba(0, 0, 0, 0.6) 100%);
    z-index: 1;
}

div > section:nth-child(3) {
	background-color: var(--brick-red);
	background-image: url("../images/shared-flights.svg");
	background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

div > section:nth-child(3) > h2 {
	font-size: 30px;
}

#home section:nth-child(1) > p {
	font-weight: 700;
}

section:nth-child(1) > button {
	outline: 1px solid var(--accent-color-2);
	background-color: var(--dark-blue);
	color: var(--accent-color-2);
}

section:nth-child(4) > ul {
	display: grid;
	grid-template-columns: 160px 160px;
	justify-content: center;
	column-gap: 15px;
	row-gap: 20px;
}

section:nth-child(4) > section > img {
	max-width: 600px;
}

section:nth-child(4) > ul > li {
	border-top: 1px solid var(--text-secondary);
}

section:nth-child(4) > ul > li > p {
	padding: 10px;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
	border-radius: 20px;
}

#home section:nth-child(5) {
	background-color: var(--dark-blue);
	color: var(--accent-color-2);
}

#home section:nth-child(5) > img {
	display: flex;
	object-fit: cover;
	margin: 0 auto;
	width: 50%;
	height: auto;
}

#abt section:nth-last-child(1) {
	padding: 0;
}

#abt section:nth-last-child(1) > h2 {
	padding-left: 2.1%; 
}

footer {
	background-color: var(--accent-color);
	color: var(--accent-color-2);
	padding: 35px 17px;
}

footer > ul {
	padding: 0;
}

footer > section {
	display: grid;
	grid-template-columns: 170px 170px;
	padding: 0;
	margin-bottom: 60px;
}

footer > p:nth-last-child(-n + 3) {
	color: var(--text-secondary);
	font-size: 14px;
}

footer > ul > li > img {
	width: 110px;
	height: auto;
}

footer > ul:nth-child(1) > ul {
	display: flex;
	padding: 0;
}

footer > section > ul > li > h2,
footer > ul > li > h2 {
	font-size: 22px;
}

footer > section > ul > li > a,
footer > ul > li > a {
	line-height: 200%;
	font-size: 18px;
	color: var(--text-secondary);
}

footer > section > ul > li > img {
	width: 110px;
	height: auto;
}

footer > ul:nth-child(2) > li > img {
	width: 25px;
	height: auto;
	margin: 0 auto;
}

footer > ul:nth-child(2)  {
	display: flex;
}

footer > ul:nth-child(2)  > li {
	display: flex;
	background-color: var(--accent-color-2);
	border-radius: 50px;
	width: 50px;
	height: 50px;
	margin-right: 8px;
}

figure {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 75px;
	height: 75px;
	outline: 1px dashed var(--accent-color);
	border-bottom-right-radius: 25px;
	margin: 25px 0 15px 0;
}

figure > img {
	margin: 0 auto;
	width: 35px;
	height: auto;
}

ol {
	padding: 0;
}

ol > li {
	list-style: none;
}

@media only screen and (min-width: 480px)
{
	section:nth-child(4) > div > ul {
		grid-template-columns: 220px 220px;
	}
}

@media only screen and (min-width: 1024px) {
	h1, h2 {
		font-size: 50px;
	}

	h3 {
		font-size: 28px;
	}

	#logo-big {
		display: inline;
		min-width: 500px;
		max-width: 620px;
		height: auto;
	}

	#logo-small {
		display: none;
	}

	.showMenu {
		padding: 50px;
		transform: translateX(35%);
	}

	.menu-links {
		display: flex;
		gap: 50px;
		font-size: 20px;
	}


	nav > ul:nth-child(1) {
		display: flex;
	}

	nav > ul:nth-child(1) > li {
		font-size: 20px;
		padding-left: 15px;
	}

	div {
		display: flex;
	}

	div > section {
		height: 100vh;
	}

	header > ul {
		display: flex;
	}

	header > ul > li {
		margin-left: 10px;
	}

	.display-on-desktop {
		display: inline;
	}

	div > section:nth-child(2)::after {
		position: absolute;
		content: "";
		height: 50%;
		width: 100%;
		bottom: 0;
		left: 0;
		background: linear-gradient(to bottom, rgba(255,0,0,0) 0%, rgba(0, 0, 0, 0.6) 100%);
		z-index: 1;
	}

	#home section:nth-child(5) > img {
		background-color: var(--darker-blue);
	}
		
	#abt  section:nth-child(5) > h2 {
		padding: 25px 0 75px 0;
	}

	main section:nth-child(2) {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}

    #abt section:nth-child(2) {
		border-top: none;
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
		flex-direction: row;
		gap: 50px;
	}

	#abt section:nth-child(2) > article {
		width: 70%;
	}

	#abt .quote {
		padding: 100px 0;
		width: 400px;
	}

	blockquote::before {
		content: "";
		position: absolute;
		background-image: url(../images/quote.svg);
		background-position: 50%;
		background-size: contain;
		background-repeat: no-repeat;
		opacity: .15;
		width: 6.5rem;
		height: 6.5rem;
		top: 40px;
		left: -50px;
	}

	#abt main section:nth-child(3) {
		display: flex;
        flex-direction: row;
		justify-content: space-between;
        align-items: flex-start;
	}

	main section:nth-child(2) > ul {
		display: grid;
		grid-template-columns: 320px 320px;
		column-gap: 15px;
		row-gap: 20px;
	}

	.col-width > section {
		width: 33.33%;
	}

	#abt section:nth-last-child(1) {
		display: flex;
	}

	#abt section:nth-last-child(1) > img {
		width: 40%;
	}
	
	section > article:nth-child(1) > ul {
		display: flex;
		flex-direction: column;
	}

	section:nth-child(2) > h2 {
		font-size: 60px;
		width: 50%;
	}

	section:nth-child(4) {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 10px;
	}

	section:nth-child(4) > ul,
	section:nth-child(4) > section {
		width: 50%;
	}

	section:nth-child(4) > ul {
		grid-template-columns: 220px 220px;
	}

	#home section:nth-child(5) {
		display: flex;
		padding: 0;
	}

	#home section:nth-child(5) > div > h2 {
		font-size: 50px;
	}

	#home section:nth-child(5) > div {
		display: flex;
		flex-direction: column;
		padding: 0 60px;
	}

	#home section:nth-child(6) > h2 {
		font-size: 12vw;
		margin: 0.3em 0;
		line-height: 140px;
	}

	.special-txt {
		width: 450px;
	}

	ol {
		display: flex;
		position: relative;
		padding-top: 15em;
	}

	ol > li {
		width: 500px;
	}

	ol > li:nth-child(odd) {
        top: -2.5vw;
        transform: translateY(-100%);
    }

	ol > li > p {
		font-size: 16px;
	}

	#abt section:nth-child(2) > article {
		width: 31%;
	}

	#abt section:nth-child(3) > article,
	section:nth-child(6) > article {
		display: flex;
		align-content: space-between;
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	section:nth-child(6) > article > ul,
	#abt section:nth-child(3) > article > ul {
		width: 650px;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-content: flex-start;
		column-gap: 50px;
	}

	section:nth-child(6) > article > ul > li,
	#abt section:nth-child(3) > article > ul > li {
		width: 300px;
	}

	section:nth-child(7) {
		width: 100vw;
	}

	section:nth-child(7) > h2 {
		font-size: 9vw;
		margin: 10px 0 150px 0;
	}

	section:nth-child(7) > h2:hover {
		text-decoration: underline;
	}

	section:nth-child(7) > span {
		display: flex;
		justify-content: center;
		color: var(--text-secondary);
		font-weight: 800;
		font-size: 35px;
		padding-top: 150px;
	}

	footer > section {
		display: grid;
		grid-template-columns: 170px 170px 170px;
		justify-content: end;
		column-gap: 75px;
	}

	#hero-plane {
		height: 7em;
		width: 20em;
	}

	@keyframes movingplane {
		0% {
			transform: translate(-5vw, 0vw);
			scale: 50%;
		}
		100% {
			transform: translate(50vw, 0vw);
			scale: 300%;
		}
	}
}
